.font1 {
	font-family: sans-serif;
	color: white;
	font-size: 3.4em;
}
.font2 {
	font-family: sans-serif;
	color: white;
	font-size: 1.5em;
}
.accordion {
  background-color: #ddd;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 40vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  width: 44.5vw;

  display: none; 
  background-color: white;
  overflow: hidden;
}
.button1 {
  background-color:#4CAF50; 
  color: white; 
  border: 1px solid #222222;
  width: 8vw;
  height: 4vh;
  transition-duration: 0.4s;

}

.button1:hover {
  background-color: #4CAF87;
  color: white;
}
