{% load static %}

<html>
<head>
  <title>Faraz's Book Finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<style type="text/css">

body {
  background: url('https://media.istockphoto.com/videos/cartoon-library-packed-with-books-in-the-dark-video-id658557636?s=640x640') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  color:white;

}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>
  const books_data_url = "{% url 'homepage:books_data' %}?q=";
  const add_like_url = "{% url 'homepage:add_like' %}";
  const top_book_url = "{% url 'homepage:top_book' %}";
</script>
</head>
<body> 

  <div class="font1">
   <div class="container pt-3 pl-2">
      <b>Search your favorite book!</b>
  </div>
  <div class="container pt-1 pl-2">
  <h5>“If one cannot enjoy reading a book over and over again, there is no use in reading it at all.”<br>
― Oscar Wilde </h5>
</div>
<div class="container pt-5 pl-2">

    <div class="col-md-3 pt-4">
      <div class="row">
          <input type="text" id="input" placeholder="Search" style="height: 4vh; font-size: 0.3em;width: 10vw" name="test1"></input>
          <button id="submit" class="button1" name="test4" style="font-size: 0.3em">Search</button>


          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top: 2vh" id="modbut" name='mod'>Top 5 Liked books</button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="color: black;">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Top 5</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body" style="font-size: 0.2em" id="klasemen">
                                        
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>




        </div>
      </div>
    <div class="col-md-12 pt-4">

     <div class="table-responsive" id="Table">
        <table class="table" style="color: white">
            <thead>
                <tr>
                    <th scope="col">Book Title</th>
                    <th scope="col">Cover</th>
                    <th scope="col">Author</th>
                    <th scope="col">Like this book!</th>
                    <th scope="col">Likes</th>                    
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody id="isi">
            
            </tbody>
        </table>
    </div>
  </div>
</div>
  <script src="{% static 'jquery-3.5.0.min.js' %}"></script>
  <script src="{% static 'filejava.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</div>
</body>
</html>


